@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Poppins';
}
body{
    background-image: linear-gradient(to left, #c19ddf, #f1986f);

}
.header{
    display: flex;
    padding: 10px 20px;
    align-items:center;
    justify-content: space-between;
}
nav ul {
  list-style: none;
  margin: 0;      
  padding: 0;       
  text-align: right; 
  display: flex;
}

nav ul li a {
  text-decoration: none; 
  color: #000000;       
  padding: 10px 15px;  

}
nav ul li a:hover {
  color: #f1662f; 
}
.header img{
    height: 50px;
    width: 190px;
    margin: 20px 10px 10px 20px;
}
.hero{
    display: flex;
    flex-direction: column; 
    padding: 4px 2px;
    flex-grow: 1;
    margin-left: 55px;
    margin-top: 80px;
}
.hero h1{
    font-size: 50px;
    color: #5a3e63;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}
.hero a{
    color:#ded7e4;
    text-decoration: none;
}
.hero img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
    padding-top: 1000px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    gap: 10px;
    margin: 30px 60px;
}
.footer span{
    color:black;
}
