@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
    MAIN BACKGROUND AND SOME HOME WEBPAGE CODES
*/
*{
    font-family: 'Poppins';
}
body{
    background-image: linear-gradient(to left, #c19ddf, #dfd28c);
    margin: 0;
    padding: 0;
    height: 100%;
}
.header{
    display: flex;
    padding: 10px 20px;
    align-items:center;
    justify-content: space-between;
}
nav ul {
  list-style: none;
  margin: 0;      
  padding: 0;       
  text-align: right; 
  display: flex;
}

nav ul li a {
  text-decoration: none; 
  color: #000000;       
  padding: 10px 15px;  

}
nav ul li a:hover {
  color: #f1662f; 
}
.header img{
    height: 50px;
    width: 190px;
    margin: 20px 10px 10px 20px;
}
.hero{
    display: flex;
    flex-direction: column; 
    padding: 4px 2px;
    flex-grow: 1;
    margin-left: 55px;
    margin-top: 80px;
}
.hero h1{
    font-size: 50px;
    color: #5a3e63;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}
.hero a{
    color:#ded7e4;
    text-decoration: none;
}
.hero img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
    margin-top:100px;
    width: 102%;
    
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    gap: 10px;
    margin: 30px 60px;
}
.footer span{
    color:black;
}
/* END */


/*
    ABOUT WEBPAGE CODES
*/
.main-about{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 70%;
    padding: 80px;
    background-color: rgba(192, 168, 168, 0.5);
    color: black;
    line-height: 1.6;   
    font-size: 18px;
    max-height: 60vh;
    overflow-y: auto;
}
.hero-about{
    background-image: url('../img/scbldg.png');
    display: flex;
    flex-direction: column; 
    padding: 4px 2px;
    flex-grow: 1;
    margin-left: 55px;
    margin-top: 80px;
}    
.hero-about img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
    margin-top:100px;
    width: 102%;
    filter:blur(5px);
}

/* END */


/*
    LOST AND FOUND WEBPAGE CODES
*/

.hero-lostnfound{
    background-image: url('../img/scbldg.png');
    display: flex;
    flex-direction: column; 
    padding: 4px 2px;
    flex-grow: 1;
    margin-left: 55px;
    margin-top: 80px;
}
.hero-lostnfound img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
    margin-top:100px;
    width: 102%;
    filter:blur(5px);
}
.lostnfound{
    
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 70%;
    padding: 80px;
    background-color: rgba(192, 168, 168, 0.5);
    color: black;
    line-height: 1.6;   
    font-size: 18px;
    max-height: 60vh;
    overflow-y: auto;
}
.lostnfound img{
    border-radius: 10px;
}

/* END */


/*
    GALLERY WEBPAGE CODES
*/

/* END */

/* 
    CONTACT US WEBPAGE
*/

.main-contact{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 70%;
    padding: 80px;
    background-color: rgba(192, 168, 168, 0.5);
    color: black;
    line-height: 1.6;   
    font-size: 18px;
    max-height: 60vh;
    overflow-y: auto;
}



/*
    MEDIA QUERY CODES
*/