@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
    MAIN BACKGROUND AND SOME HOME WEBPAGE CODES
*/
*{
    font-family: 'Poppins';
}
body{
    background-image: linear-gradient(to left, #c19ddf, #dfd28c);

}
.header{
    display: flex;
    padding: 10px 20px;
    align-items:center;
    justify-content: space-between;
}
nav ul {
  list-style: none;
  margin: 0;      
  padding: 0;       
  text-align: right; 
  display: flex;
}

nav ul li a {
  text-decoration: none; 
  color: #000000;       
  padding: 10px 15px;  

}
nav ul li a:hover {
  color: #f1662f; 
}
.header img{
    height: 50px;
    width: 190px;
    margin: 20px 10px 10px 20px;
}

.hero_news{
    background-image: url("../img/scbldg.png");
    height: 500px;
    background-size: contain;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero{
    height: 400px;
    background-size: cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero h1{
    font-size: 50px;
    color: #5a3e63;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}
.hero a{
    color:#ded7e4;
    text-decoration: none;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    gap: 10px;
    margin: 30px 60px;
}
.footer span{
    color:black;
}
/* END */


/*
    ABOUT WEBPAGE CODES
*/

/* END */


/*
    NEWS WEBPAGE CODES
*/

.lostnfound{
    background: white;
    border-radius: 10px;
    margin: 50px;
    padding: 15px 30px;
}

/*
    GALLERY WEBPAGE CODES
*/

/*
    MEDIA QUERY CODES
*/